fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
bcrypt
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
ultralytics
opencv-python-headless